@font-face {
    font-family: 'Century Gothic';
    src: url('../fonts/GOTHIC.TTF');
}

/* меню */
.nav {
    margin: 20px 0;
}
.nav ul {
    margin: 0;
    padding: 0;
}
.nav li {
    margin: 0 5px 10px 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    *display:inline; /* ie7 */
}
.nav a {
    padding: 3px 12px;
    text-decoration: none;
    color: #999;
    line-height: 100%;
}
.nav a:hover {
    color: #000;
}
.nav .current a {
    background: #999;
    color: #fff;
    border-radius: 3px;
}


.chaseMindAbout
{
    width: 100%;
    height: 100vh;
    background: url(../img/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.chaseMindMenuMobile
{
    display: none;
}

.chaseMindMenu
{
    width: 100%;
    height: auto;
    background: rgba(255,255,255, 0.06);
    display: flex;
}

.menu-trigger
{
    display: none;
}

.chaseMindMenu li
{
    font-family: 'Century Gothic';
    color: white;
    font-size: 1.2vw;
    padding-left: 5%;
    display: block;
}

.chaseMindMenu li:hover
{
    text-decoration: underline;
}

.chaseMindMenu ul
{
    display: flex;
    align-items: center;
    width: 70%;
}

.chaseMindMenu a
{
    text-decoration: none;
    color: white;
}

.chaseMindMenu img
{
    margin-left: 7%;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 5%;
    height: 5%;
}

.login
{
    display: flex;
    width: 25%;
    align-items: center;
}

.enter
{
    font-family: 'Century Gothic';
    font-size: 1.3vw;
    color: white;
    text-align: center;
    display: inline-block;
    margin-right: 15%;
}

.enter:hover
{
    text-decoration: underline;
}

.registration
{
    font-family: 'Century Gothic';
    font-size: 1.3vw;
    color: white;
    text-align: center;
    display: inline-block;
    background: #009393;
    margin-top: 1.15%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 1.5%;
    padding-right: 1.5%;
}

.registration:hover
{
    text-decoration: underline;
}

.linkTryForFree a
{
    text-decoration: none;
    color: white;
}

.chaseMindText
{
    font-family: 'Century Gothic';
    color: white;
    display: inline-block;
    text-align: center;
    margin-left: auto;
    width: 100%;
}

.chaseMindTextMain
{
    font-size: 5vw;
    font-weight: bold;
}

.chaseMindTextSlogan
{
    font-size: 1.58vw;
}

.whatIsIt
{
    margin-left: 13.5%;
    display: inline-block;
    width: 50%;
}

.need
{
    margin-left: 1.5%;
    display: inline-block;
}

.whatIsNext
{
    text-align: center;
    margin-top: 5%;
    width: 100%;
}

.whatIsItMain, .needMain, .whatIsNextMain
{
    font-family: 'Century Gothic';
    color: rgb(0,147,147);
    font-size: 1.8vw;
    background: #ffffff;
    padding: 0.2%;
    padding-left: 2%;
    padding-right: 2%;
}

.need
{
    text-align: right;
}

.whatIstItDiscription, .needDiscription, .whatIsNextDiscription
{
    font-family: 'Century Gothic';
    color: white;
    font-size: 1.5vw;
}

.whatIsNextMain
{
    text-align: center;
    margin: 0 auto;
}

.whatIsNextDiscription
{
    font-size: 2.2vw;
    background: #009393;
    padding-left: 1%;
    padding-right: 1%;
}

.whatIsNextDiscription a
{
    text-decoration: none;
    color: white;
}

.whatIsNextDiscription a:hover
{
    text-decoration: underline;
    color: white;
}

.wrapperOfText
{
    margin-top: 12vh;
}


.wrapperOf123
{
    display: block;
    width: 100%;
    margin: 4% auto;
}

.discription
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.wrapperOfDiscription
{
    margin: 3% auto;
    width: 60%;
}

.wrapperOfDiscription table
{
    display: flex;
    justify-content: center;
}

.wrapperOfDiscription td:first-child
{
    width: 30%;
}

.logoDiscription
{
    display: inline-block;
    text-align: right;
    width: 100%;
}

.logoDiscriptionMobile
{
    display: none;
}

.logoDiscription img
{
    width: 60%;
}

.discriptionOfDiscription
{
    width: 80%;
    margin-left: 3%;
    display: inline-block;
    height: 100%;
}

.discriptionOfDiscription section:first-child
{
    text-align: left;
    font-size: 3vw;
}

.discriptionOfDiscription section
{
    color: #009393;
}

.discriptionOfDiscription
{
    font-family: 'Century Gothic';
    font-size: 1.5vw;
}

.titleMainInfo
{
    font-family: 'Century Gothic';
    color: #009393;
    width: 100%;
    text-align: center;
    background: white;
    font-size: 3vw;
    margin-top: 3%;
    margin-bottom: 2%;
}

.mainInfo
{
    margin-top: 2%;
    background: #009393;
    width: 100%;
    display: block;
}

.wrapperOfMainInfoTableTest
{
    width: 60%;
    margin: 0 auto;
}

.mainInfoTableTest
{
    width: 100%;
    margin-top: 7%;
    margin-bottom: 5%;
    display: inline-flex;
    justify-content: center;
}

.test1, .test2, .test3
{

    color: white;
    font-family: 'Century Gothic';
    margin: 0 auto;
    width: 30%;
    font-size: 1vw;
}

.test1
{
    text-align: left;
}


.test2
{
    text-align: center;
}


.test3
{
    text-align: right;
}

.test1 img, .test2 img, .test3 img
{
    width: 100%;
}

.test1 section, .test2 section, .test3 section
{
    margin-top: 3%;
    font-size: 1.5vw;
}

.titleNewBooks
{
    width: 100%;
    margin-top: 3%;
    text-align: center;
    font-size: 3vw;
    color: #009393;
    font-family: 'Century Gothic';
}

.discriptionNewBooks
{
    width: 60%;
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.5vw;
    color: black;
    font-family: 'Century Gothic';
}

.titleNewBooks
{
    display: block;
}

.books
{
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.book
{
    margin: 2%;
    width: 15%;
    text-align: center;
    font-family: 'Century Gothic';
    font-size: 0.95vw;
}

.book img
{
    width: 100%;
}

.book section
{
    margin-top: 6%;
}

.wrapperOfBooks
{
    margin: 0 auto;
    width: 60%;
}

.titleSubscription
{
    margin-top: 3%;
    width: 100%;
    text-align: center;
    font-family: 'Century Gothic';
    color: #009393;
    font-size: 3vw;
    margin-bottom: 1%;
}

.subsription
{
    width: 100%;
    text-align: center;
    margin-bottom: 4%;
}

.discriptionSubsription
{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Century Gothic';
    font-size: 1.5vw;
    color: black;
}

input[type="text"]
{
    outline: none;
    background: #ffffff !important;
    border: 1px solid #009393;
    width: 20%;
    padding: 0.5%;
    font-family: 'Century Gothic';
    color: black;
}

input[type="submit"]
{
    border: 1px solid white;
    background: #009393;
    color: white;
    padding: 0.5%;
    width: 21.5%;
    font-size: 1.7vw;
    cursor: pointer;
    font-family: 'Century Gothic';
}

@media screen and (max-width: 640px)
{
    .chaseMindMenu
    {
        display: none;
    }

    .titleMainInfo, .titleNewBooks
    {
        font-size: 12vw;
    }

    .mainInfo
    {
        margin-top: 5%;
    }

    .wrapperOfMainInfoTableTest
    {
        width: 85%;
        display: block;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .mainInfoTableTest
    {
        display: block;
        width: 100%;
    }

    .test1, .test2, .test3
    {
        text-align: left;
        display: block;
        margin-bottom: 10%;
        font-size: 5vw;
        width: 100%;
    }

    .test1 section, .test2 section, .test3 section
    {
        display: block;
        margin-top: 2%;
        text-align: center;
        font-size: 9vw;
    }

    .wrapperOfDiscription
    {
        width: 85%;
        display: block;
    }

    .wrapperOfDiscription td:first-child
    {
        display: none;
    }

    .discriptionNewBooks
    {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .discriptionOfDiscription, .discriptionNewBooks, .discriptionSubsription
    {
        margin: 5% auto;
        text-align: left;
        font-size: 5vw;
        display: block;
        width: 85%;
    }

    .logoDiscriptionMobile
    {
        margin-top: 5%;
        text-align: center;
        width: 100%;
        display: block;
    }

    .logoDiscriptionMobile img
    {
        width: 20vw;
    }

    .discriptionOfDiscription section:first-child
    {
        text-align: center;
        font-size: 12vw;
    }

    .wrapperOfBooks
    {
        width: 85%;
    }

    .books
    {
        margin-top: 10%;
        display: block;
        width: 100%;
    }

    .book
    {
        margin-top: 5%;
        margin-bottom: 15%;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        font-size: 5vw;
    }

    .book img
    {
        width: 80%;
    }

    .titleSubscription
    {
        width: 100%;
        font-size: 12vw;
    }

    input[type="text"], input[type="submit"]
    {
        width: 85%;
        font-size: 8vw;
    }

    .chaseMindTextMain
    {
        text-align: center;
        width: 100%;
        font-size: 14vw;
    }

    .chaseMindTextSlogan
    {
        font-size: 4vw;
    }

    .chaseMindAbout
    {
        display: flex-inline;
        align-items: center;
        justify-content: cener;
        height: 100vh;
    }

    .whatIstItDiscription, .needDiscription
    {
        margin: 0;
        font-size: 4vw;
    }

    .whatIsNextDiscription
    {
        display: block;
        width: auto;
        padding: 5%;
        font-size: 6vw;
    }

    .need, .whatIsIt, .whatIsNext
    {
        margin: 0;
        display: block;
        text-align: center;
        padding: 0;
        width: 100%;
        margin-bottom: 5%;
    }

    .whatIsItMain, .needMain, .whatIsNextMain
    {
        font-size: 6vw;
    }


    .menu-trigger
    {
        display: block;
        font-family: 'Century Gothic';
        font-size: 2vw;
        padding-top: 2%;
        padding-bottom: 2%;
        text-align: center;
        border-bottom: 1px solid rgba(255,255,255,0.5);
        width: 100%;
    }

    .chaseMindMenuMobile li
    {
        display: none;
        font-family: 'Century Gothic';
        font-size: 2vw;
        padding-top: 2%;
        padding-bottom: 2%;
        text-align: center;
        border-bottom: 1px solid rgba(255,255,255,0.5);
        width: 100%;
    }

    .chaseMindMenuMobile a
    {
        text-decoration: none;
        color: white;
    }

    .chaseMindMenuMobile
    {
        display: block;
        justify-content: center;
        background: rgba(255,255,255, 0.06);
    }
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
